<%# User Convo Box %>
<%= tag.div 'data-controller': 'message', 'hidden': false, 'data-message-animate-value': false do %>
  <%# TODO bg-black/40 WHEN BEAR RESPONSE %>
  <div class="w-full py-36">
    <div class="break-words markdown">
      <div data-message-target="text">You are at your limit! :()</div>
    </div>
  </div>
<% end %>
