@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ShantellSans';
	font-weight: 1 1000;
	font-style: normal italic;
	src: url('ShantellSans.woff2') format('woff2');
	font-display: block;
}

body {
  font-family: 'ShantellSans', cursive;
  font-variation-settings: "ital" 0, "INFM" 0,"BNCE" 0, "SPAC" 0;
}

.font-bounce {
  animation: font-bounce 2000ms alternate ease-in-out infinite;
}

@keyframes font-bounce {
  from {
    font-variation-settings: "ital" 0, "INFM" 0,"BNCE" -50, "SPAC" 0;
  }
  to {
    font-variation-settings: "ital" 0, "INFM" 0,"BNCE" 50, "SPAC" 0;
  }
}
