@font-face {
	font-family: 'ShantellSans';
	font-weight: 1 1000;
	font-style: normal italic;
	src: url('ShantellSans.woff2') format('woff2');
	font-display: block;
}

body {
  font-family: 'ShantellSans', 'Comic Sans', sans-serif;
  font-variation-settings: "ital" 0, "INFM" 0,"BNCE" 50, "SPAC" 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
