@font-face {
  font-family: 'ShantellSans';
  font-weight: 1 1000;
  font-style: normal italic;
  src: url('ShantellSans.woff2') format('woff2');
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --honey-supply: 0;
  }

  body {
    @apply font-body bg-tertiary bg-hatching bg-repeat bg-500 font-var-base;
  }
}
